
<!DOCTYPE html>
<html lang="en">
<head>
<title>Socket Programming</title>
</head>
<body>
<div class="row wrapper">
  <div class="col-md-2 offset-md-4">
  <a class="btn btn-primary buttonCreate" href="/createform">Create New Room</a>
  </div>
   <div class="col-md-2">
 <a class="btn btn-primary buttonJoin" href="/join">Join Room</a>
  </div>


</div>
</body>
</html>
