
<!DOCTYPE html>
<html lang="en">
<head>
<title>Socket Programming</title>
</head>
<body>
<div class="row wrapper">
  <a class="btn btn-primary buttonCreate" href="/createform">Create New Room</a>
  <a class="btn btn-primary buttonJoin" href="/join">Join Room</a>

</div>
</body>
</html>
